<script >
	export let selectedCity = 'Baltimore'; 
    export let selectedScale = "all"; 
	
	// Properties
	const city = ["Baltimore", "Chicago", "Los Angeles"];
  const scale = ["all", "each"];
</script>
	
    {#each city as ct}
      <div>
        <input type="radio" bind:group={selectedCity} value={ct}> {ct}
      </div>
    {/each}
    {#each scale as sc}
    <div>
      <input type="radio" bind:group={selectedScale} value={sc}> {sc}
    </div>
  {/each}
