<script>
    export let data = []
    export let yScale;
</script>

{#each data as value, idx}
<g transform="rotate({360/365*idx})">
   <line x1="0" y1="0" x2="0" y2="{yScale(value)}" />
</g>
{/each}

<style>
    line{
	  stroke: blue;
      stroke-width: 1;
      opacity: 0.5;
	}
</style>