<script>
    export let data = []
    export let xScale;
    export let yScaleel;

    let pathgenerator = (d) => {
        let path = "M 0," + yScaleel(0);
        d.forEach((value, idx) => {
            path += " " + xScale(idx) + ',' + yScaleel(value)
        })
        return path;
    }
</script>

{#each data as value, idx}
     <path d={pathgenerator(data)}/>
{/each}

<style>
    path{
		fill: blue;
        stroke: none;
        fill-opacity: 0.5;
	}
</style>