<script>
   export let data = []
   export let xScale;
   export let yScale;
    
    let pathgenerator = (d) => {
    let path = "M 0," + yScale(0) ;
      d.forEach((value, idx) => {
        path += " " + xScale(idx)  + ',' + yScale(value)
    })
    return path;
    }
</script>

     <path d={pathgenerator(data)}/>
    
<style>
path{
 stroke-width: 3px;
}
</style>