<script>
    export let data = []
    export let xScale;
    export let yScalega;

    let pathgenerator = (d) => {
        let path = "M 0," + yScalega(0);
        d.forEach((value, idx) => {
            path += " " + xScale(idx) + ',' + yScalega(value)
        })
        return path;
    }
</script>

<g transform="scale(1,-1)">
    <g transform="translate(0,-135)">
        <g transform="rotate(4)">
      {#each data as value, idx}
        <path d={pathgenerator(data)}/>
      {/each}
</g>
</g>
</g>

<style>
    path{
		fill: orange;
        stroke: none;
        fill-opacity: 0.5;
	}
</style>