<script>
	import Electricity from './_design_3_electricity.svelte';
	import Gas from './_design_3_gas.svelte';
	import { scaleLinear } from "d3-scale";
	import { extent } from "d3-array";
	//trasform data
	let datapoints = [];
	fetch("./hourly_electricity_vs_gas_december.json")
	  .then(res => res.json())
	  .then(data => datapoints = data)


	let transformed_electrity = {}
	$:{
		datapoints.forEach((d) => {
			if (!(d.week in transformed_electrity)) {
				transformed_electrity[d.week] = []
			}
			transformed_electrity[d.week].push(d.total_electrity)
		})
	}

	let transformed_gas = {}
	$:{
		datapoints.forEach((d) => {
			if (!(d.week in transformed_gas)) {
				transformed_gas[d.week] = []
			}
			transformed_gas[d.week].push(d.total_gas)
		})
	}

	$: yScaleel = scaleLinear().domain(extent(datapoints.map((d) => d.total_electrity))).range([60,0])
	$: yScalega = scaleLinear().domain(extent(datapoints.map((d) => d.total_gas))).range([60,0])

	$: xScale = scaleLinear().domain([1,168]).range([0,250])

  // Size and margins
  const width = 500;
  const height = 600;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
</script>

<h1>
	Total electricity & gas energy
</h1>
Baltimore, December 2014<br/>

<svg {width} {height}>
	<g transform="translate({margin.left}, {margin.top})">
		{#each Object.keys(transformed_electrity) as week_nr, week_idx}
		{#if week_idx%2}
		<g transform="translate({innerWidth/2},{innerHeight-100*(week_idx+1)})" >
			<g transform="rotate(45)">			
				<g transform="scale(-1,1)">
					<Electricity data={transformed_electrity[week_nr]} xScale={xScale} yScaleel={yScaleel}/>					
					<Gas data={transformed_gas[week_nr]} xScale={xScale} yScalega={yScalega}/>					
		</g>
	    </g>
		</g>
		{:else}
		<g transform="translate({innerWidth/2},{innerHeight-100*(week_idx+1)})" >
			<g transform="rotate(-45)">			
				<Electricity data={transformed_electrity[week_nr]} xScale={xScale} yScaleel={yScaleel}/>        
				<Gas data={transformed_gas[week_nr]} xScale={xScale} yScalega={yScalega}/>					
		</g>
	    </g>
		{/if}
		{/each}
		<line x1="{innerWidth/2}" y1="{height}" x2="{innerWidth/2}" y2="0" />
	</g>
  </svg>

  <style>
	svg {
	  border: 1px solid black;
	  border-radius: 5px;
	}
	line {
        stroke: black;
        stroke-width: 1;
        }
  </style>