<script>
  import Cooling from './_design_2_cooling.svelte';
  import Heating from './_design_2_heating.svelte';
  import { scaleLinear } from "d3-scale";
  import { extent } from "d3-array";
  //trasform data
  let datapoints = [];
  fetch("./daily_heating_cooling.json")
  .then(res => res.json())
  .then(data => datapoints = data)

 
  let transformed_cooling = {}
  $:{ datapoints.forEach((d) => {
    if (!(d.city in transformed_cooling)) {
      transformed_cooling[d.city] = []
      }
      transformed_cooling[d.city].push(d.cooling)
      })
   }

 let transformed_heating = {}
 $:{ datapoints.forEach((d) => {
   if (!(d.city in transformed_heating)) {
     transformed_heating[d.city] = []
     }
     transformed_heating[d.city].push(d.heating)
     })
   }

 $: yScale = scaleLinear().domain(extent(datapoints.map((d) => d.cooling))).range([80,0])
 
 
  // Size and margins
  const width = 600;
  const height = 250;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

 </script>
 
 <h1>
  Heating & cooling energy in a year
 </h1>
 Baltimore, Chicago, and Los Angeles <br/>
 
 <svg {width} {height}>
   <g transform="translate({margin.left}, {margin.top})">
     {#each Object.keys(transformed_cooling) as cool_nr, cool_idx}	
     <g transform="translate({80+200*cool_idx},{innerHeight/2+40})" >
       <Cooling data={transformed_cooling[cool_nr]} {yScale}/>
       <circle cx="0" cy="0" r=80/>
       <line x1="-80" y1="0" x2="80" y2="0" />
       <line x1="0" y1="-80" x2="0" y2="80" />
     </g>
         {/each}

     {#each Object.keys(transformed_heating) as heat_nr, heat_idx}
     <g transform="translate({80+200*heat_idx},{innerHeight/2+40})" >
       <Heating data={transformed_heating[heat_nr]} {yScale}/>
     </g>
         {/each}
       </g>
 </svg>
 
<style>
  svg {
   border: 1px solid black;
   border-radius: 5px;
 }
 circle{
   fill: none;
   stroke: black;
 }
 line {
       stroke: black;
       stroke-width: 1;
       }
</style>