
<script>
  import { filter } from "d3-array"; 
  import { json } from "d3-fetch"; 
  import { onMount } from "svelte";
  import Controls from "./_design_1_button.svelte"; 
  import Lines from "./_design_1_line.svelte";
  import { scaleLinear } from "d3-scale";
  import { extent } from "d3-array";
 
  // Load the data 
  let datapoints =[] ; 
 
 onMount(async () => { 
  const dataTemp = await fetch('./hourly_heating_december.json');
  datapoints = await dataTemp.json();
  }); 
 
 
 //data.city; 
  let selectedCity = 'Baltimore'; 
  let selectedScale = "all"; 
  let filtered_data;
 
 function filter_data (datapoints, selectedCity) {     
      const filtered_data = datapoints.filter(d => d.city == selectedCity);    
      return filtered_data
 } 
 //$: console.log(filter_data(datapoints, selectedCity))
 
 
 let transformed_data = {}
 $:{
     filter_data(datapoints,selectedCity).forEach((d) => {
     if (!(d.city in transformed_data)) {
  transformed_data[d.city] = {}
   }
   if (!(d.buildingtype in transformed_data[d.city])) {
      transformed_data[d.city][d.buildingtype] = []
   }
    transformed_data[d.city][d.buildingtype].push(d.total_heating_energy)
 })
 }
 //$: console.log(transformed_data)

 
 
 $: xScale = scaleLinear().domain([1,744]).range([0,550])
 
 // Size and margins
  const width = 600;
  const height = 250;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
 </script>
 
 {#if !datapoints}
 <p>Loading the data, please wait...</p >
 {:else}
 <svg {width} {height}>
  <g transform="translate({margin.left}, {margin.top})">
     {#each Object.keys(transformed_data) as city_nr, city_idx}
   {#each Object.keys(transformed_data[city_nr]) as building_nr, building_idx}
   <g transform="translate(0,{building_idx*10})">
    <Lines data={transformed_data[city_nr][building_nr]} {xScale} yscale={
      selectedScale=="all" 
       ? scaleLinear().domain(extent(datapoints, (d) => d.total_heating_energy)).range([15,0])
       : scaleLinear().domain(extent(transformed_data[city_nr][building_nr], (b) => b.total_heating_energy)).range([15,0])
     } />   </g>
     {/each}
   {/each}
  </g>
  </svg>
     <Controls bind:selectedCity= {selectedCity} />
 {/if}
 
 <style>
 svg {
  border: 1px solid black;
  border-radius: 5px;
 }
 </style>