<script >
	export let selectedContinent = 'all';
	export let selectYear = 1800;
	
	// Properties
	const continents = ["all", "europe", "asia", "americas", "africa"];
  
	
   //Year 
	function currentYear() {
	  if (selectYear >= 2014) {selectYear =1800}
	  else{selectYear++}
	}
	let loop;
	let paused = true;
	const makeProgress = () => {  
		if (paused) {
		  loop = setInterval(currentYear,50);
		  paused = false;}
		else {
		  paused = true;
		  clearInterval(loop);
		}
	  }
	
	//Reset
	const reset = () => {
		selectYear = 1800;
		clearInterval(loop)
		paused = true;
	 }
	</script>
	
	<div class="row" >
	  <div class='col-4'>
		<button class="btn btn-primary" on:click={makeProgress}>{paused ? 'Start': 'Stop'}</button>
		<button class="btn btn-primary" on:click={reset}>Reset</button>
	  </div>
  
	  <div class='col-5'>
		<label class="form-label col-sm-10"> Year: {selectYear} 
		<input type="range" class="form-range" min='1800' max='2014' bind:value={selectYear} />
		</label>
	  </div>
  
	  <div class='col-3'>
		  <select class="form-select" bind:value={selectedContinent}>
			{#each continents as ct}
			  <option>{ct}</option>
			{/each}
		  </select>
		</div>
	  
	</div>