<script>
	let count = 0;

	function handleClick(event) {
		count += 1;
	}
	function reset(event) {
		count = 0;
	}	
</script>

<button on:click={handleClick} class="btnStyle1">
	Clicked {count} times
</button>

<button on:click={reset} class="btnStyle2" >
	reset
</button>

<style  type="text/css">
	.btnStyle1{
		background: blue;
	}
	
	.btnStyle2{
		background: red;   	
	}
	button{
		color:white; 
		border-radius:5px;
	}
</style>

