<script>
  // Dimensions
  const [height, width] = [400, 600];
  const margin = { top: 50, right: 5, bottom: 55, left: 50 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
	
	import { onMount } from 'svelte';
	import { scaleLinear } from 'd3-scale';
	import { scaleOrdinal } from 'd3-scale';
	import { schemeDark2 } from 'd3-scale-chromatic';
	import { select } from  "d3-selection";
    import { axisBottom, axisLeft } from  "d3-axis";
	import { extent } from 'd3-array';

	
    export let dataset = [];
	const continents = ["europe", "asia", "americas", "africa"];


<<<<<<< HEAD

<<<<<<< HEAD

=======
	onMount ( async () => {
		 dataset  =  await  json ( 'D:/kul/Data Visualization in Data Science/datavis_exercises/static/data/gapminder.js ' ,
    row
    ).then((data)  => {
        return  data;
    });
});
>>>>>>> 0ca2293 (solutions week 6)
=======
>>>>>>> af9f772 (solutions week 6)
	
	
	const xScale = scaleLinear()
		.domain([300, 150000])
		.range([0, innerWidth]);					
	const yScale = scaleLinear()
		.domain([0, 90])
		.range([innerWidth,0]);
	const rScale = scaleLinear()
	    .range([5, 40])
		.domain([2000, 1400000000]);
	const col = scaleOrdinal()
	  .domain(continents)
	  .range(schemeDark2);
	 
	const xAxis = (node) =>
    axisBottom(xScale).tickValues([400, 4000, 40000]).tickFormat(format("$"))(
      select(node)
    );
 	const yAxis = (node) => axisLeft(yScale)(select(node));


</script>

<svg viewBox="0 0 {width} {height}" style="max-width: {width}px">
  <g  transform="translate({margin.left}, {margin.top})">
  {#each Object.values(dataset) as d}
    		<circle cx='{xScale(+d.income)}' cy='{yScale(+d.life_exp)}' r='{rScale(+d.population)}'   fill={col(+d.continent)}
/>
  {/each}
	<g use:xAxis  {innerHeight}  {margin}  scale={xScale}  position="bottom" />

    <g use:yAxis  {innerHeight}  {margin}  scale={yScale}  position="left" />
		 <text transform={`translate(${-30},${innerHeight / 2}) rotate(-90)`}>
			 Life Expectancy
		</text>
    <text x={innerWidth / 2} y={innerHeight + 35}>
             GDP per Capita		
		</text>
    <text text-anchor="middle" x="{innerWidth-20}" y="90" font-weight="lighter">1800</text>
    <text class="title" x={innerWidth / 2} y={0}>Gapminder Scatterplot</text>

	</g>
</svg>

