<script>
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 5, right: 5, bottom: 25, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const values = [2, 4, 6, 7, 9];
	
	import { scaleLog } from 'd3-scale';
	import { axisBottom } from 'd3-axis';
	import { select } from 'd3-selection';

	const scale = scaleLog()
  .domain([1,10])
  .range([0,800]);
	
  const xAxis = (node) => axisBottom(scale)(select(node));

</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
		<g use:xAxis transform="translate(0,60)"></g>
{#each values as value}
    <circle cx="{scale(value)}" cy="45" r="10" fill="steelblue"/>
		<text text-anchor="middle" x="{innerWidth/2}" y="90" font-weight="lighter">x label</text>
    {/each}  
	</g>
</svg>
