<script>
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 20, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
	
	 console.log(innerWidth);
	 console.log(innerHeight);


  // Array
  const values = [
    { x: 2, y: 1, category: "cat1" },
    { x: 4, y: 2, category: "cat3" },
    { x: 6, y: 1, category: "cat2" },
    { x: 7, y: 3, category: "cat3" },
    { x: 9, y: 1, category: "cat2" }
  ];
	
	
	
	import { scaleLinear } from 'd3-scale';
	import { scaleOrdinal } from 'd3-scale';
	import { extent } from 'd3-array';
	import { schemeDark2 } from 'd3-scale-chromatic';

	const xscale = scaleLinear()
  .domain([0,10])
  .range([0,innerWidth]);

	const yscale = scaleLinear()
  .domain([0,4])
  .range([innerHeight,0]);
	
	
	const col = scaleOrdinal()
	.domain(["cat1","cat2","cat3","cat4"])
	.range(schemeDark2)
	
</script>


<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
   		{#each values as value}
        <circle class="valueLabel" cx="{xscale(value.x)}" cy="{yscale(value.y)}" r="10" fill="{col(value.category)}"/>
		 
		    <line x1="{xscale(value.x)}" y1="{innerHeight}" x2="{xscale(value.x)}" y2="{yscale(value.y)+10}" style="stroke:rgb(0,0,0);stroke-width:2"/>	              <text x="{xscale(value.x)}" y="{yscale(value.y)-15}" >{value.y}</text>
	 		{/each}
      <line x1="0" y1="{innerHeight}" x2="{innerWidth}" y2="{innerHeight}" style="stroke:rgb(0,0,0);stroke-width:2"/>		
	
  </g>
</svg>

<style>
  text {
    text-anchor: middle;
    font-size: small;
  }
</style>
