<script>
	// Dimensions
	const width = 600;
	const height = 300;
	const margin = { top: 10, right: 10, bottom: 30, left: 60 };
	const innerWidth = width - margin.left - margin.right;
	const innerHeight = height - margin.top - margin.bottom;
		  
	import { scaleLinear } from 'd3-scale';
	import { axisBottom, axisLeft } from 'd3-axis';
	import { select } from 'd3-selection';


	const points = [
	  { service: "Netflix", viewers: 2.9 },
	  { service: "Amazon Prime Video", viewers: 1.3 },
	  { service: "Disney+", viewers: 2.1 },
	  { service: "Hulu", viewers: 0.9 },
	  { service: "Apple TV", viewers: 1.1 },
	  { service: "Rakuten", viewers: 0.4 }
	  ];
  
	const barWidth = innerWidth / 6;
  
	  
	const xScale = scaleLinear()
		  .domain([0, 6])
		  .range([margin.left, width - margin.right]);
  
	const yScale = scaleLinear()
	  .domain([0,3])
	  .range([height - margin.top - margin.bottom-80,20]);	
	  
	  const xAxis = (node) =>
    axisBottom(xScale).tickValues(["Netflix","Amazon Prime Video","Disney+","Hulu","Apple TV","Rakuten"])(
      select(node)
    );
  const yAxis = (node) => axisLeft(yScale)(select(node));

  </script>
  
  
  <svg viewbox="0 0 {width} {height}" style="max-width: {width}px">
	<g transform={`translate(${margin.left},${margin.top})`}>
	    <g use:yAxis transform="translate(60,0)">	
			  <text transform="rotate(-90)" text-anchor="middle"  x="-100" y="-30"  fill="currentColor"> 
				  Viewers (Million) 
			  </text>		
	    </g>
  
    <g use:xAxis transform="translate(0, {innerHeight-80})">    
    </g>  
		

		<g class="bars">
			  {#each points as point, i}
				  <rect
					  x="{xScale(i) + 2}"
					  y="{yScale(point.viewers)}"
					  width="{barWidth - 4}"
					  height="{yScale(0) - yScale(point.viewers)}"
				  ></rect>
			  {/each}
		</g>
	</g>
  </svg>
  
  
  <style>
	  svg 
	  .bars rect {
		  fill: steelblue;
		  stroke: none;
	  }
  </style>
  